@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
   background-color: #514b5b;
}

div.line {
      background-color: #514b5b;
      height: .5em;
}

/* Mobile header */
.large-header {
    display: none;
}

.mobile-header {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-header .blog-title {
    padding: .4em 0;
    font-size: 2.2em;
}

.mobile-header .search-container {
    display: flex;
    justify-content: flex-end;   
    align-items: center; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: .9em;
}

.mobile-header .search-container img {   
    margin-left: -16px;
    cursor: pointer;
}

.mobile-header .search-container input {
    border: none;
    background-color: lightgray;
    font-size: 130%;
    padding: 2px;
    padding-left: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
    width: 100%; 
    transition: width 500ms ease;
}   

.mobile-header .search-container input:focus {
    font-size: 160%;
}

.mobile-header .tags {
    padding: .6em 0;
    font-size: 1.1em;
}

/* Mobile info panel */
.mobile-info-panel {
    background-color: #919191;
    height: 0;
    overflow: hidden;    
    transition: height 300ms ease-in;
    border-top: 2px #514b5b solid;    
}    

.mobile-info-panel-inner-container {    
    padding-top: 10px;
    display: grid;
    grid-template-areas: 
        "links links"
        "avatar bio";
    grid-template-columns: auto minmax(0, 1fr);        
    grid-row-gap: 1em;
    grid-template-rows: auto auto;
    align-items: center;
}

.mobile-info-panel-show {
    height: 175px;
}

.avatar-container {
    grid-area: avatar;
    padding-left: 1em;
}

.avatar {
    border-radius: 50%;
    margin-top: 1em;
}

.links {  
    grid-area: links;
    display: flex;
    justify-content: center;

    margin-top: .5em;
    font-size: 1.6em;
    background-color: #919191;
}

.links a {
    font-size: .8em;
    color: black;
    text-decoration: none;
    padding-right: 1em;
    padding-left: 1em;
}

.bio {
    grid-area: bio;
    padding: 0 20px;
    font-size: 1.2em;
}

div.hamburger-container {
   outline: none;
   position: absolute;
   left: 10px;
   top: 16px;
}

div.hamburger-container a {
    outline: none;
    color: #514b5b;
}

.round-full {
    border-radius: 50%;
}

.go {
    border: 1px dashed red;
}
     
@media only screen and (min-width: 720px) {
    .mobile-header, mobile-info-panel {
        display: none;
    }

    .large-header {
        display: block;
    }

    .mobile-info-panel-show {
        display: none;
    }
    
}